#one {
	grid-area: one;
	background-color: #C6D9F1;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 2%;
}

#two {
	grid-area: two;
	background-color: #FDE9D9;
	vertical-align: middle;
	padding: 2%;
}

#three {
	grid-area: tri;
	background-color: #EAF1DD;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 2%;
}

#four {
	grid-area: for;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2%;

	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
	"a"
	"b";
	width: auto;
	height: auto;
	justify-content: center;
}

#five {
	grid-area: fiv;
	background-color: #FDE9D9;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 2%;
}

#six {
	grid-area: six;
	background-color: #C6D9F1;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 2%;
}

#x {
	background-color: white;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

#x_header {
	padding-left: 10px;
	padding-right: 15px;
	word-wrap: break-word;
	width: 220px;
}

#y {
	background-color: white;
	text-align: center;
	margin-right: 5%;
	margin-left: 75%;
}

#y_header {
	padding-left: 5px;
	padding-right: 20px;
	word-wrap: break-word;
	width: 220px;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 250px 0.3fr 2.3fr 250px;
	grid-template-areas:
	"one one one"
	"two tri tri"
	"two for fiv"
	"six six six";
	width: auto;
	height: auto;
}

/*----------------------------*/

#one {
	padding: 0px;
}

#playButton {
	width: 150px;
    margin:0 auto;
    display:block;
}

#work {
	width: 100%;
	height: 100%;
	position: relative;
}

#anim {
	position: absolute;
	bottom: 0;
}

#controls {
	position: relative;
}

#buttonList {
	position: absolute;
	top: 0;
	right: 5%;
	margin: 0;
	list-style-type: none;
}

.controlButton {
	float:right;
}

#textBox {
	position: absolute;
	top: 10px;
	left: 5%;
	margin: 0;
	max-width: 200px;
	word-wrap: break-word;
}